body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  --pastel-blue: #bbd0ff;
  --pastel-pink: #ffd6ff;
  --pastel-purple: #c8b6ff;
  --cream: #f0e6ef;
  --dark: #1e1f22;
  --normal-blue: #827fff;
  --normal-pink: #f461a8;
}